body{
    background: black;
}
.displayBox{
    display:flex;
    justify-content: center;
    align-items:center;
}
.getImage{
    display:flex;
    justify-content: center;
    /*align-content: center;*/
    /*color:red;*/
}
.picPlace{
    height: 500px;
    width: auto;
}
.imgClass{
    height: 500px;
    width: auto;

}