body{
    background: black;
}
.displayBox{
    display:flex;
    justify-content: center;
    align-items:center;
}
.getImage{
    display:flex;
    justify-content: center;
    /*align-content: center;*/
    /*color:red;*/
}